<table class="table table-bordered">
<% @rides.each do |ride| %>
<tr>
  <td>
    <article class="driver-info">
      <%= link_to image_tag(ride.user.image, options = {:class =>"profile_img_small"}), ride  %>
    </article>
      <div class="info">
	<small><%= link_to ride.user.first_name,ride.user %></small><br>
	<small class="muted"><%= ride.user.rides.count %> Rides</small>
      </div>
  </td>
  <td>
    <%= link_to "#{ride.origin} ---> #{ride.destination}", ride %><br>
    <span class="date"><%= ride.date.strftime(" %A, %b %d") %></span>
    <span class="muted"><%= ride.time.strftime(" %I:%M %p") if present? %></span>
  </td>
  <td>
    <span class="price"><%= number_to_currency(ride.price, precision: 0) %></span>
    <small class="muted">Per passenger</small>
  </td>
  <td>
    <span class="seats"><%= ride.seats %></span>
    <small class="muted">Seats available</small>
  </td>
  <td>
    <%= link_to "show", ride %>
  </td>
</tr>
<% end %>
</table>