<ul class="thumbnails" id="recent-rides">
  <% @rides.each do |ride| %>
  <li class="">
    <div class="thumbnail">
      <div class="locations">
	<%= link_to "#{ride.origin} ---> #{ride.destination}", ride %><br>
	<span class="date"><%= ride.date.strftime(" %A, %b %d") %></span> -
	<span class="muted"><%= ride.time.strftime(" %I:%M %p") if present? %></span>
      </div> 
<div class="row-fluid">
      <div class=span7>
      <span class="price"><%= number_to_currency(ride.price, precision: 0) %></span>
      <small class="muted">Per passenger</small>
    </div>
    
    <div class=span5>
      <span class="seats"><%= ride.seats %></span>
      <small class="muted">Seats available</small> 
    </div>
</div>
<hr> 
    <article class="user">
      <%= link_to image_tag(ride.user.image, options = {:class =>"profile_img_small"}), ride  %>
      <div class="info">
	<small><%= link_to ride.user.first_name,ride.user if signed_in? %></small>
      </div>
    </article>
    
    </div>
  </li>
<% end %>
</ul>


