<% provide(:title, 'Carpool and Rideshare - Join The Ride') %>

<div class="row-fluid">
  <div class="mast span8 embos">
    <h1>Join The Ride <%=image_tag('logo_bug.png')%></h1>
    <hr>
    <p> Share rides and meet awesome people like yourself. <%= link_to 'Learn How', '#' %></p>
      <%= link_to(new_ride_path, html_options = { class: "btn btn-large btn-success add-ride"}) do %>
	Add Your Ride
      <% end %>
  </div>
  <section id="search-rides" class="span4 embos">
    <%= render '/layouts/main_search_form' %>
  </section>
  <div class="row-fluid">
  <div class="embos span">
    <h3>Recent rides</h3>
    <%= render 'current_rides' %>
  </div>
  </div>
</div>

<div class="row-fluid">
    <%# render 'featured' %>
</div>
