<% provide(:title, 'Carpool and Rideshare - Join The Ride') %>

<div class="row-fluid">
    <div class="section span7">
      <div class="section-header">
	<div class="text">Start a Ride</div>
      </div>
      <div class="section-content">
	<div class="row-fluid">
	  <div class="span4 "><%= image_tag('map_and_markers.png') %><br>Create and share your itinerary</div>
	  <div class="span4 "><%= image_tag('piggy_bank.png') %><br>Collect contributions</div>
	  <div class="span4 "><%= image_tag('pickup_passenger.png') %><br>Pick up your passengers</div>
	</div><br>		
	<%= link_to(new_ride_path, html_options = { class: "btn btn-large btn-success add-ride tooltip-right", title:"Good idea"}) do %>
	  Go
	<% end %>
      </div>
    </div>
      
      
    <div class="section span5">
      <div class="section-header">
	<div class="text">Find a Ride</div>
      </div>
      <div class="section-content">
	<%= render '/layouts/main_search_form' %>
      </div>
    </div> 
</div>
<section id="current-rides" class="row">
    <%= render 'current_rides' %>
</section>
    <%= render '/layouts/search_modal' %>
    
