<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places" type="text/javascript"></script>

<% provide(:title, 'Home') %>
<div class="row">

    <h3>
      Inoride connects <span style="color:#32B6EF">drivers</span> and <span style="color:#31ED8F">passengers</span> who want to <span>share rides</span>
    </h3></br>

</div>

<!-- Main hero unit for a primary marketing message or call to action -->

<div class="row" id="main">
  <div class="span7">
<section id="search">
  
	
  <%= form_tag rides_path, :method => 'get',class: "form-horizontal" do %>
  
  <div class="search-container row">
      <div class="control-group">
	 <div class="controls">
	    <%= text_field_tag :origin, params[:origin], placeholder: 'Origin',class: "mainsearch span4",:autocomplete => "off"%>
	 </div>
      </div>
      <div class="control-group">
	 <div class="controls">
	  <%= text_field_tag :destination, params[:destination],placeholder: 'Destination',class: "mainsearch span4",:autocomplete => "off"%>
	 </div>
      </div>
      <div class="control-group">
	 <div class="controls">
	  <%= text_field_tag :date, params[:date], placeholder: 'Dade',id: "ride_date",class: "date-small",class: "mainsearch date-small span2"%>
	  <%= submit_tag "Search", :name => nil, class: "btn btn-large" %>
	 </div>
      </div>
  </div>
	 
  <% end %>
  
</section>
  </div>
  <div class="span5 ">
    <div class="well2">
      <div>
	<h3>Grab a passenger</h3>
	<p>There is no charge for posting a ride anouncement. You get to split the cost of gas, make a new friend, or even find your sweetheart.<span style="color:#ED286D">&hearts;</span><p>
      <h4></h4>
      <%= link_to(new_ride_path, html_options = { class: "btn btn-large btn-success"}) do %>
	  Add Ride<%=image_tag('CAR2.png')%>
	<% end %>
      </div>
    </div>
  </div>
</div>
      


<!--  <div class="hero-unit">
    <div class="container">
    <h2 class="span4 container">Inoride connects <span style="color:#28D55F">drivers</span> and <span style="color:#32B6EF">passengers</span> who want to <span style="color:#D328CD">share a road trip</span></h2>
  </div>
  </div>-->

<section id = "rides">
  <table class="table">
    <tr>
      <% @ride.each do |ride| %>
      <td><%= image_tag(ride.user.usr_img)%></td>
      <td><h4><%= link_to "#{ride.origin}   ---------> #{ride.destination}", ride, class: "" %></h4><p><%= ride.date.strftime(" %A, %b %d, %Y") %></p></td>
      <td><%= ride.user_id %></td>
      <td><%= ride.id %></td>
    </tr>
    <% end %>
  </table>
</section>




<script type="text/javascript" charset="utf-8">
function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-33.8688, 151.2195),
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('map_canvas'),
          mapOptions);

        var origin = document.getElementById('origin');
	var destination = document.getElementById('destination');
        var autocomplete = new google.maps.places.Autocomplete(origin);
	var autocomplete = new google.maps.places.Autocomplete(destination);

        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
          map: map
        });

        setupClickListener('changetype-all', []);
        setupClickListener('changetype-establishment', ['establishment']);
        setupClickListener('changetype-geocode', ['geocode']);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="map_canvas"></div>