<div id="login-errors"></div>
<div class="span5 embos">
  <%= link_to image_tag('fb_signin2.png'), "/auth/facebook", class: "sign_in" %>
</div>
<div class="span4">
	    <% if flash[:error].present? %>
	    <%= render inline: "<div class='alert alert-error'>#{flash[:error]}</div>" %>
	    <% end %>
<%= simple_form_for(:session, url: sessions_path, :html => { id:"signin", remote: true }) do |f| %>
  <%= f.input :email, :label_html => { :class => 'fancy-label' } %>
  <%= f.input :password, :label_html => { :class => 'fancy-label' } %>
  <%= f.submit "Sign in", id: "login",class: "btn btn-large btn-primary" %>
<% end %>
</div>

