<html style="background:url('/assets/fancy_deboss.png') repeat 0 0 #FFF9F2;">
  <div class="container" style="margin:0 auto; width:600px; border:1px solid #eee;"

<%= image_tag attachments['email_header.png'].url -%>
<p><strong>Hey <%= @user.first_name %>,</strong></p>

<p>
Thank you for registering with pickmeup.
To get started <%= link_to 'edit', edit_user_url(@user) %> your profile so that
others can learn more about your wonderful self.
Or create a <%= link_to 'New Pickmeup', new_ride_url, :only_path => false %>
<%= url_for(:host => "localhost:3000", :controller => "rides", :action => "new") %>
</p>
</html>