<% provide(:title, 'Search Rides')%>
<%=notice%>
<div class="row-fluid">

<div class="span8 embos">
  <%= render '/shared/search_message' %>
  <table class="table table-bordered">
  <%= render 'rides' %>
  </table>
  <%= link_to 'Add New Ride', new_ride_path, class: "btn btn-success btn-large"%>
</div>

<div class="span4 embos">
    <%= render 'layouts/main_search_form' %>
</div>

</div>

