<% provide(:title, 'Search Rides')%>
<%=notice%>
<div class="masthead-background">
  <div class="masthead">
    <div class="well">
        <%= render 'layouts/search' %>
    </div>
  </div>
</div>

<div class="container">
  <%= render '/shared/search_message' %>
  <table class="table table-bordered">
  <%= render 'rides' %>
  </table>
  <%= link_to 'Add New Ride', new_ride_path, class: "btn btn-success btn-large"%>
</div>

