<% provide(:title, 'Search Rides')%>
<%=notice%>
<div class="masthead-background">
  <div class="masthead">
    <div class="container">
      <div class="search-container">
        <%= render 'layouts/search' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render '/shared/search_message' %>
  <%= render 'list_found_rides' %>
  <%= link_to 'Add New Ride', new_ride_path, class: "btn btn-success btn-large"%>
</div>

