<%= simple_form_for(@map) do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="span6">
    <%= f.input :origin, :autocomplete => "off", :input_html => { :class => 'span5' } %>
    <%= f.input :destination, :autocomplete => "off",:input_html => { :class => 'span5' } %>
    <%= f.input :waypoint_1 %>
  </div>
    <%= f.input :longitude %>
    <%= f.input :latitude %>
    <%= f.input :gmaps %>
    <%= f.submit :class => ' btn btn-large btn-primary' %>
<% end %>
