<%= render 'shared/error_messages', object: f.object %>

<div class="controls"><%= image_tag(@user.image,options={:class =>"profile_img_small thumbnail"}) %></div><br>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :email %>
<%= f.input :password %>
<%= f.input :password_confirmation %>