<table class="table">
<% @user.rides.each do |ride| %>
<tr>
  <td>
    <%= link_to "#{ride.origin} ---> #{ride.destination}", ride %>
    <p class="muted"><%= ride.date.strftime(" %A, %b %d, %Y") %></p>
  </td>
  <td>
    <div class="span price">
      <%= number_to_currency(ride.price, precision: 0) %>
    </div>
  </td>
  
  <% if current_user?(ride.user) && current_user.admin? %>
  <td>
    <%= link_to 'Edit', edit_ride_path(ride) %></li>
    | <%= link_to 'Destroy', ride, confirm: 'Are you sure?', method: :delete %>
  </td>
</tr>
<% end %>
</table>
<% end %>