
<%= notice %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>id:</th>
      <th>Name:</th>
      <th>Email:</th>
      <th>img_url:</th>
      <th>uid:</th>
    </tr>
  </thead>
    <tbody>
      <tr>
	<td><%= @user.id %></td>
	<td><%= @user.name %></td>
	<td><%= @user.email %></td>
	<td><%= @user.img_url %></td>
	<td><%= @user.uid %></td>
      </tr>
    </tbody>
</table>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
  </br>
  <b>uid:</b>
  <%= @user.uid %>
  </br>
  <b>id:</b>
  <%= @user.id %>
  </br>
  <b>img_url:</b>
  <%= @user.img_url %>
  </br>
  <b>Token:</b>
  <%= @user.oauth_token %>
  </br>
  
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
