
<%= notice %>

<table class="table table-bordered table-striped">
  <thead>
    <td colspan=6><h1 class="pull-left"><%= @user.name %></h1></td>
    <tr>
      <th>user.id:</th>
      <th>Name:</th>
      <th>Email:</th>
      <th>img_url:</th>
      <th>uid:</th>
    </tr>
  </thead>
    <tbody>
      <tr>
	<td><%= @user.id %></td>
	<td><%= @user.name %></td>
	<td><%= @user.email %></td>
	<td><%= @user.img_url %></td>
	<td><%= @user.uid %></td>
      </tr>
      <tr>
	<td colspan=1>
	  <b>Token:</b>
	</td>
	<td colspan=5><%= @user.oauth_token %></td>
      </tr>
      <tr>
	<td colspan=7>
	  <div>
	    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-mini" %>  | 
	    <%= link_to 'Back', users_path, class: "btn btn-mini" %>
	  </div>
	</td>
      </tr>
    </tbody>
</table>



