<div class="alert alert-success"><%= notice %><button class="close">&times;</button></div>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
  </br>
  <b>uid:</b>
  <%= @user.uid %>
  </br>
  <b>id:</b>
  <%= @user.id %>
  </br>
  <b>img_url:</b>
  <%= @user.img_url %>
  </br>
  <b>Token:</b>
  <%= @user.oauth_token %>
  </br>
  
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
