<% provide(:title, @user.name)%>
<%= notice %>

<div class="row-fluid">

  <section id="user" class="span4 embos">
    <h1 class="user-details">Hi <%= @user.first_name %></h1>
    <div class="profile_img_wrap">
      <div><%= image_tag(@user.image, options = {:class =>"profile_img_small"})  %></div>
      <div><%# gravatar_for @user %></div>
    </div>
    <div class="info">
      <p><%= @user.first_name %> <%= @user.last_name %></p>
      <%= link_to 'Edit Profile', edit_user_path, :class => 'btn btn-mini' %>
    </div>
  </section>	


  <section id="rides" class="span8 embos">
    <% if @user.rides.any? %>
      <h3>Rides(<%= @user.rides.count %>)</h3>
      <table class="table">
      <%= render @rides %>
      </table>
    <% end %>
  </section>
</div>


