<%= render 'shared/error_messages', object: f.object %>
<fieldset>
  <legend>Set origin & destination</legend>
  <%= f.input :origin,label:'Trip Origin', :error_html => { id: 'ride_origin'},placeholder: 'e.g. Tremont Street, Boston, MA', :input_html => { class:'span8 ride_origin tooltip-top',title:"Street, City or Zip will also work" },autocomplete: "off" %>
  <%= f.input :destination,:label => 'Destination',:placeholder => 'e.g. Charlottesville, VA', :input_html => { :class => 'span8 ride_destination'} %>
</fieldset>

<fieldset>
  <legend>Set date and time</legend>
  <%= f.input :date, :as => :string, :label => "Date",:placeholder => "Date", :input_html => {:class => 'date-tiny span4 tooltip-right',title:"When is this happening?"},autocomplete: "off" %>
  <%= f.input :time,:label => 'Time',:as => :time,:minute_step => 15,:ampm => true,:input_html => {:class => 'span2'} %>
</fieldset>

<fieldset>
  <legend>Passengers & contributions</legend>
  <%= f.input :price,:wrapper_html => { :class => '' }, :label => "Contribution",:wrapper => :prepend do %>
    <span class="add-on large">$</span><%= f.input_field :price,html_options = { :class => 'span4 has-popover',:title => "Payup for pickmeup","data-content" =>"Enter the ammount you want each passenger to contrebute to the ride."} %>
  <% end %>
  <%= f.input :seats,:wrapper_html => { :class => '' },:label => "Seats avlable", :input_html => {:class => 'span2 has-popover',:title =>"Seats Available","data-content" =>"Enter the number of seats available for passengers.","placeholder"=>"3"} %>
</fieldset>

<fieldset>
  <legend>Finish & Submit</legend>
<%= f.input :notes,label: "Anything else?",:input_html => {:class =>"span8",:rows=> 3},placeholder: "Optional greeting, notes or instructions related to this ride. This will be visible to others"%>
  <% unless signed_in? %>
    <div class="login_warnign controls muted"><%= link_to image_tag('fb_login_btn_small.png'), "/auth/facebook", class: "sign_in" %> to finish posting</div><br>
  <% end %>
</fieldset>
  <div class="controls">
    <% if signed_in? %>
      <%= f.submit "Post Ride", id: 'post_ride', class: "btn btn-large btn-success" %>
    <% else %>
      <%= f.submit "Post Ride",html_options = {:disabled => true, id: 'post_ride', class: "btn btn-large btn-success"} %>
      <%# link_to('Sign in to post', "#signinModal", :id => 'login', class:"btn btn-large btn-warning", "data-toggle" => "modal") %>
    <% end %>
  </div>