<%= simple_form_for(@ride, :html => {:class => 'form-horizontal' }) do |f| %>
<fieldset id="step1">
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.input :origin,label:'Start Location', :error_html => { id: 'ride_origin'},placeholder: 'Origin city, street or a Zip code', :input_html => { class:'span8 ride_origin' },autocomplete: "off" %>
  <%= f.input :destination,:label => 'Destination',:placeholder => 'Destination city, street or a Zip code', :input_html => { :class => 'span8 ride_destination' } %>
</fieldset>

<fieldset id='step2'>
  <%= f.input :date, :as => :string, :label => "Date",:placeholder => "Date", :input_html => {:class => 'date-tiny span4'},autocomplete: "off" %>
  <%= f.input :time,:label => 'Time',:as => :time,:minute_step => 15,:ampm => true,:input_html => {:class => 'span2'} %>
</fieldset>

<fieldset id='step3'>
  <%= f.input :price,:wrapper_html => { :class => '' }, :label => "Price per seat",:wrapper => :prepend do %>
      <span class="add-on">$</span><%= f.input_field :price,class:'span4 has-popover',title: "Ride contrebutions","data-content" =>"Enter the ammount you would like each passenger to contrebute to the ride.","value"=>"2",:wrapper_html => { :class => 'span1' },:label => "Price per seat", :input_html => {} %>
  <% end %>
  <%= f.input :seats,:wrapper_html => { :class => '' },:label => "Seats avlable", :input_html => {:class => 'span1 has-popover',:title =>"Seats Available","data-content" =>"Enter the number of seats available for passengers.","value"=>"2"} %>
</fieldset>

<fieldset id='step4'>
  <%= f.input :notes,label: "Any notes?",:input_html => {:class =>"span8",:rows=> 3},placeholder: "Hey, I'm #{current_user.first_name}, I can offer someone a ride."%>
  <div class="controls">
  <%= f.submit 'Post This Ride', class:"btn btn-success btn-large" %>
  </div>
</fieldset>
<% end %>


<script>

    $('.carousel').carousel({
        interval: false
    })

    // Could be slid or slide (slide happens before animation, slid happens after)
    $('#myCarousel').bind('slide', function() {

    });


    $("#slide1").click(function() {
        //alert("Handler for .click() called.");
        $('#myCarousel').carousel(0)
        $("#slide1").addClass("btn-success");
    });
    $('#ride_price').change(function() {
        alert('Handler for .change() called.');
        function showValues() {
            var fields = $(":input").serializeArray();
            $("#results").empty();
            jQuery.each(fields, function(i, field){
                $("#results").append(field.value + " ");
            });
        }

        $(":checkbox, :radio").click(showValues);
        $("select").change(showValues);
        showValues();
    });

</script>




