<%= form_for(@ride) do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well">
    <%= f.label :origin %>
    <%= f.text_field :origin %>

    <%= f.label :destination %>
    <%= f.text_field :destination %>
    <%= f.label class: 'list_image'%>
    
  </div>
  <div class="well">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  <div class="well">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
