<tr>
  <td>
    <div class="profile_img_wrap">
      <div><%= image_tag(ride.user.image, options = {:class =>"profile_img_small"})  %></div>
    </div>
    <div class="info">
      <small><%= link_to ride.user.first_name,ride.user %></small>
    </div>
  </td>
  <td>
    <%= link_to "#{ride.origin} ---> #{ride.destination}", ride %><br>
    <small class="muted"><%= ride.date.strftime(" %A, %b %d, %Y") %></small>
    <br>
    <% if current_user.admin? && current_user?(ride.user) %>
      <%= link_to 'Edit', edit_ride_path(ride) %>
      | <%= link_to 'Delete', ride, confirm: 'Are you sure?', method: :delete %>
      <% else %>

    <% end %>
  </td>
  <td>
    <span class="price">
      <%= number_to_currency(ride.price, precision: 0) %>
    </span>
    <small class="muted">Per passenger</small>
  </td>

</tr>
