<tr>
  <td>
    <div class="profile_img_wrap">
      <div><%= image_tag(ride.user.image, options = {:class =>"profile_img_small"})  %></div>
    </div>
    <div class="info">
      <small><%= link_to ride.user.first_name,ride.user %></small>
    </div>
  </td>
  <td>
    <%= link_to "#{ride.origin} ---> #{ride.destination}", ride %><br>
    <small class="muted"><%= ride.date.strftime(" %A, %b %d, %Y") %><small>
  </td>
  <td>
    <div class="span price">
      <%= number_to_currency(ride.price, precision: 0) %>
    </div>
  </td>
  <% if current_user.admin? && !current_user?(ride.user) %>
  <td>
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
	Action
	<span class="caret"></span>
	</a>
      <ul class="dropdown-menu">
	
	<li><%= link_to 'Edit', edit_ride_path(ride) %></li>
	<li><%= link_to 'Delete', ride, confirm: 'Are you sure?', method: :delete %></li>
	
      </ul>
    </div>
  </td>
  <% end %>
</tr>
