<tr>
  
  <td><% if current_user.admin? || !current_user?(ride.user) %>
  <div class="imagebox-small">
    <div><%= image_tag(profile_image_for(ride.user),options={:class =>"small"}) %></div>
  </div>
    <div class="info">
    <small><%= link_to ride.user.first_name, ride.user %><br><%= @user.rides.count %></small>
    
    </div>
    <% end %>
  </td>
  
  <td>
    <%= link_to "#{ride.origin} ---> #{ride.destination}", ride %><br>
    <small class="muted date"><%= ride.date.strftime(" %A, %b %d, %Y") %></small>
    <br>
    <% if current_user?(ride.user) || current_user.admin? %>
      <%= link_to 'Edit', edit_ride_path(ride) %>
      | <%= link_to 'Delete', ride, method: :delete, confirm: 'Are you sure you want to do that?' %>
    <% end %>
  </td>
  <td>
    <span class="price">
      <%= number_to_currency(ride.price, precision: 0) %>
    </span>
    <small class="muted">Per passenger</small>
  </td>
</tr>
