<h1>Listing rides</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Origin</th>
    <th>Destination</th>
    <th>Date</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rides.each do |ride| %>
  <tr>
    <td><%= ride.origin %></td>
    <td><%= ride.destination %></td>
    <td><%= ride.date %></td>
    <td><%= ride.user_id %></td>
    <td><span class="btn"><%= link_to 'Show', ride %></span></td>
    <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
    <td><%= link_to 'Destroy', ride, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<%= @users %>
</table>

<br />

<%= link_to 'New Ride', new_ride_path %>
