<% provide(:title, 'Rides')%>
<div class="alert alert-success"><%= notice %></div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title:</th>
      <th></th>
    </tr>
  </thead>
    <tbody>
      <tr>
	<td><%= @ride.title %></td>
	<td></td>
      </tr>
    </tbody>
</table>



<p>
  <b>Title:</b>
  <%= @ride.title %>
</p>

<p>
  <b>Origin:</b>
  <%= @ride.origin %>
</p>

<p>
  <b>Longitude:</b>
  <%= @ride.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @ride.latitude %>
</p>

<p>
  <b>Destination:</b>
  <%= @ride.destination %>
</p>

<p>
  <b>Date:</b>
  <%= @ride.date %>
</p>

<p>
  <b>User:</b>
  <%= @ride.user_id %>
</p>


<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>

<section class="row">
  
  <%= #gmaps4rails(@json)
gmaps({
       "direction"   => { "data" => { "from" => @ride.origin, "to" => @ride.destination },"markers" => { "data" => @json } },
       "markers" => {"data" => @json, "options" => {"list_container" => "markers_list" } },
       "map_options" => { "detect_location" => true, "center_on_user" => true, "zoom" => 6},
       "markers" => { "data" => @markers },
       "options" => {"waypoints" => ["toulouse, france", "brest, france"], "display_panel" => true, "panel_id" => "instructions"}
       
            })
 %>
 
 <ul id="markers_list">  </ul>
 
 
</section>


