<% provide(:title, 'Rides')%>



<div class="row">
    <div class="span8">
      
      <table class="table table-bordered table-striped">
	<thead>
	    <td colspan=6><h3 class="pull-left"><%= @ride.origin %> -----------> <%= @ride.destination %></h3></td>
	  <tr>
	    <th>Origin:</th>
	    <th>Destination:</th>
	    <th>Longitude:</th>
	    <th>Latitude:</th>
	    <th>Date:</th>
	    <th>user_id:</th>
	    <th>Gmaps:</th>
	  </tr>
	</thead>
	  <tbody>
	    <tr>
	      <td><%= @ride.origin %></td>
	      <td><%= @ride.destination %></td>
	      <td><%= @ride.longitude %></td>
	      <td><%= @ride.latitude %></td>
	      <td><%= @ride.date %></td>
	      <td><%= @ride.user_id %></td>
	      <td><%= @ride.gmaps %></td>
	    </tr>
	    <tr>
	      <td colspan=7>
		<div>
		  <%= link_to 'Edit', edit_ride_path(@ride), class: "btn btn-mini" %>  | 
		  <%= link_to 'Back', rides_path, class: "btn btn-mini" %>
		</div>
	      </td>
	    </tr>
	    <tr>
	      <td colspan=7>
		<div>
		  <%= gmaps({
	:map_options => { :zoom => 18, :auto_adjust => true, :auto_zoom => false},
	    :markers => { :data => @json, :options => { :draggable => true,"custom_infowindow_class" => "yellow"  } },
	  :direction => {
	       :data => { :from => @ride.origin, :to => @ride.destination}}
	       })
		    %>
		</div>
	      </td>
	    </tr>
	    
	  </tbody>
      </table>
    </div><!-- Rides -->
    
    <div class="span3 well2">
      <h2>Driver</h2>
      <div class="pic"><div><%= image_tag(@ride.user.usr_img)%></div></div>
      <div class="info">
	<p><%= link_to @ride.user.name, current_user %></p>
	<a href="#" class="btn btn-mini">Contact Driver</a>
	</div>
      
    </div>
</div>
    
<section class="container">
  

 
   <% content_for :scripts do %>
    <script type="text/javascript" charset="utf-8">
      

        var markersArray = [];
        // On click, clear markers, place a new one, update coordinates in the form
        Gmaps.map.callback = function() {
            google.maps.event.addListener(Gmaps.map.serviceObject, 'click', function(event) {
              clearOverlays();
              placeMarker(event.latLng);
              updateFormLocation(event.latLng);
            });
        };
        // Update form attributes with given coordinates
        function updateFormLocation(latLng) {
            $('#map_latitude').val(latLng.lat());
            $('#map_longitude').val(latLng.lng());
            $('#location_attributes_gmaps_zoom').val(Gmaps.map.serviceObject.getZoom());
        }
        // Add a marker with an open infowindow
        function placeMarker(latLng) {
            var marker = new google.maps.Marker({
                position: latLng, 
                map: Gmaps.map.serviceObject,
                draggable: true
            });
	  var defaultImage = new google.maps.MarkerImage(
	  "http://localhost:3000/assets/pin2.png",
	  new google.maps.Size(20, 35),
	  new google.maps.Point(0, 0),
	  new google.maps.Point(17, 34),
	  new google.maps.Size(20, 35));
	  marker.setIcon(defaultImage); 
            markersArray.push(marker);
            // Set and open infowindow
            var infowindow = new google.maps.InfoWindow({
                content: '<div class="popup"><h2>Awesome!</h2><p>Drag me and adjust the zoom level.</p><button class="btn btn-large">Button</button>'
            });
            infowindow.open(Gmaps.map.serviceObject,marker);
            // Listen to drag & drop
            google.maps.event.addListener(marker, 'dragend', function() {
                updateFormLocation(this.getPosition());
            });
        }
	
	            // Removes the overlays from the map, but keeps them in the array.
      function clearOverlays() {
        setAllMap(null);
      }
        // Removes the overlays from the map
        function clearOverlays() {
          if (markersArray) {
            for (var i = 0; i < markersArray.length; i++ ) {
              markersArray[i].setMap(null);
            }
          }
          markersArray.length = 0;
        }
	
	// Custom Infowindow for markers
	Gmaps.map.infobox = function(boxText) {
	return {
	   content: boxText
	  ,disableAutoPan: false
	  ,maxWidth: 0
	  ,pixelOffset: new google.maps.Size(-140, 0)
	  ,zIndex: null
	  ,boxStyle: { 
	    background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.5/examples/tipbox.gif') no-repeat"
	    ,opacity: 0.95
	    ,width: "280px"
	     }
	  ,closeBoxMargin: "10px 2px 2px 2px"
	  ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
	  ,infoBoxClearance: new google.maps.Size(1, 1)
	  ,isHidden: false
	  ,pane: "floatPane"
	  ,enableEventPropagation: false
       }};
    </script>
<% end %>

 
 <ul id="markers_list"></ul>
 <div id="instructions"></ul>

</section>


