<% provide(:title, "Ride from #{@ride.origin} to #{@ride.destination}")%>
<% notice %>
<h1 class="trip"><%= @ride.origin %> --- <%=image_tag('logo_bug.png')%> --> <%= @ride.destination %></h1>

<div class="row-fluid">
    <section id="ride-info" class="span8">
      
      <table class="table table-bordered">
	<tbody>
	    <tr>
	      <td colspan=2>
		<h4><span class="date"><%= @ride.date.strftime(" %A, %b %d, %Y") %></span></h4>
	      </td>
	      <td>
		<span class="price">$<%= @ride.price %></span>
		<small class="muted">Per passenger</small>
	      </td>
	      <td>
		<span class="price"><%= seats %></span>
		<small class="muted">Seats available</small>
	      </td>
	    </tr>
	    <tr>
	      <td colspan=3>
		<div class="driver-info">
		  <div><%= image_tag(@ride.user.image,options={:class =>"profile_img_small"}) %></div>
		</div>
		<p clas="ride-note"><%= wrap(@ride.notes) %></p>
	      </td>
	      <td>
		<a class="btn btn-success">Request Pickup</a>
	      </td>
	    </tr>
	<% if current_user?(@ride.user) %>
	    <tr>
	      <td colspan=4>
		<div>
		  <%= link_to 'Edit Ride', edit_ride_path(@ride)%>  | 
		  <%= link_to "Delete", @ride, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: "Delete Ride #{@ride.origin} to #{@ride.destination}" %>
		</div>
	      </td>
	    </tr>
	<% end %>
	    <tr>
	      <td colspan=7>
		<div>
		  <%= gmaps({
	         :map_options => { :zoom => 18, :auto_adjust => true, :auto_zoom => false},
	          #:markers => { :data => @json, :options => { :draggable => true,"custom_infowindow_class" => "yellow"  } },
	         :direction => {
	         :data => { :from => @ride.origin, :to => @ride.destination}},
	      })%>
		</div>
	      </td>
	    </tr>
	  </tbody>
      </table>
    </section><!-- Rides -->

<aside id="driver" class="span3 embos">
  <h2>Driver</h2><hr>
  <div class="driver-info">
    <div><%= link_to image_tag(@ride.user.image,options={:class =>"profile_img_small"}),@ride.user %></div>
    <small><%= link_to @ride.user.first_name, @ride.user %></small>
  </div>
  <%= @user.first_name %>
  <%= @user.last_name.slice!(0,1) %></br>
  <strong>Rides: <%= @user.rides.count %></strong>
  <a href="#" class="btn btn-mini">Send Message</a>
</aside>

</div>

  
<% content_for :scripts do %>
 <script type="text/javascript" charset="utf-8">
var markersArray = [];

Gmaps.map.callback = function() {
//alert('Your ride was successfully mapped. Press OK to continue')
clearOverlays();
}
//Clear the markers
function clearOverlays() {
  if (markersArray) {
    for (var i = 0; i < markersArray.length; i++ ) {
      markersArray[i].setMap(null);
    }
  }
  markersArray.length = 0;
}
 </script>
<% end %>

