<% provide(:title, 'Rides')%>
<div class="alert alert-success"><%= notice %><button class="close"data-dismiss="alert" type="button">&times;</button></div>

<p>
  <b>Origin:</b>
  <%= @ride.origin %>
</p>

<p>
  <b>Destination:</b>
  <%= @ride.destination %>
</p>

<p>
  <b>Date:</b>
  <%= @ride.date %>
</p>

<p>
  <b>User:</b>
  <%= @ride.user_id %>
</p>


<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
