<% provide(:title, 'Rides')%>
<div class="container">
<% notice %>

<div class="row">
    <div class="span8">
      
      <table class="table table-bordered table-striped">
	<thead>
	    <td colspan=6 class="higlight"><h3 class="pull-left"><%= @ride.origin %> -----------> <%= @ride.destination %></h3></td>
	  <tr>
	    <th>Origin:</th>
	    <th>Destination:</th>
	    <!--<th>Longitude:</th>-->
	    <!--<th>Latitude:</th>-->
	    <th>Date:</th>
	    <th>user_id:</th>
	  </tr>
	</thead>
	  <tbody>
	    <tr>
	      <td><%= @ride.origin %></td>
	      <td><%= @ride.destination %></td>
	      <!--<td><%= @ride.longitude %></td>-->
	      <!--<td><%= @ride.latitude %></td>-->
	      <td><%= @ride.date %></td>
	      <td><%= @ride.user_id %></td>
	    </tr>
	    <tr>
	      <td colspan=7>
		<div>
		  <%= link_to 'Edit', edit_ride_path(@ride), class: "btn btn-mini" %>  | 
		  <%= link_to 'Back', rides_path, class: "btn btn-mini" %>
		</div>
	      </td>
	    </tr>
	    <tr>
	      <td colspan=7>
		<div>
		  <%= gmaps({
	:map_options => { :zoom => 18, :auto_adjust => true, :auto_zoom => false},
	    #:markers => { :data => @json, :options => { :draggable => true,"custom_infowindow_class" => "yellow"  } },
	  :direction => {
	       :data => { :from => @ride.origin, :to => @ride.destination}},
	       })
		    %>
		</div>
	      </td>
	    </tr>
	    
	  </tbody>
      </table>
    </div><!-- Rides -->
    
    <div class="span3 well2">
      <h2>Driver</h2>
      <div class="pic"><div><%= image_tag(@ride.user.usr_img)%></div></div>
      <div class="info">
	<p><%= link_to @ride.user.name, current_user %></p>
	<a href="#" class="btn btn-mini">Contact Driver</a>
	</div>
      
    </div>
</div>
    
<section class="container">
  
<% content_for :scripts do %>
 <script type="text/javascript" charset="utf-8">
var markersArray = [];

Gmaps.map.callback = function() {
alert('hi')
clearOverlays();
}
//Clear the markers
function clearOverlays() {
  if (markersArray) {
    for (var i = 0; i < markersArray.length; i++ ) {
      markersArray[i].setMap(null);
    }
  }
  markersArray.length = 0;
}
 </script>
<% end %>

 
 <ul id="markers_list"></ul>
 <div id="instructions"></ul>

</section>
 </div><!--end container-->

