<script src="http://maps.googleapis.com/maps/api/js?sensor=true&v=3.4&libraries=places" type="text/javascript"></script>


<section id="main_search" class="main_search">
  <%# simple_form_for(:search, url: search_path,:method => 'get') do |f| %>
  <%# f.input :origin,id: "ride_origin" %>
  <%# f.input :destination, label: false, id: "ride_destination" %>
  <%# f.input :date, label: false %>
  <%# f.submit "Search", :name => nil, class: "btn btn-large btn-primary" %>
<%# end %>
  <%= form_tag search_path, :method => 'get', id: "main-search",class: "form-vertical" do %>
      <div class="control-group">
	 <div class="controls">
	    <%= text_field_tag :origin, params[:origin], placeholder:"From:", id:"ride_origin",class: "mainsearch span ride_origin",autocomplete:"off"%>
	 </div>
      </div>
      <div class="control-group">
	 <div class="controls">
	  <%= text_field_tag :destination, params[:destination],placeholder: 'To:', id:"ride_destination",class: "mainsearch span ride_destination",:autocomplete => "off"%>
	 </div>
      </div>
      <div class="control-group ride-date">
	 <div class="controls">
	  <%= text_field_tag :date, params[:date], placeholder: 'Date:',id: "ride_date",class: "mainsearch date-small", :autocomplete => "off"%>
	 </div>
      </div>
      <div class="control-group ">
	 <div class="controls">
      <%= submit_tag "Search", :name => nil, class: "btn btn-large btn-primary" %>
	 </div>
      </div>
  <% end %>
</section>


<script type="text/javascript" charset="utf-8">
  // Prevent origin and location inputs from submiting form when "Enter" pressed
  $('#ride_origin').keydown(function(event) {
  if (event.which == 13) {
     event.preventDefault();
    }
  });
  $('#ride_destination').keydown(function(event) {
  if (event.which == 13) {
     event.preventDefault();
    }
  });
  
  function initialize() {
    var origin = document.getElementById('ride_origin');
    var destination = document.getElementById('ride_destination');
    var autocomplete = new google.maps.places.Autocomplete(origin);
    var autocomplete = new google.maps.places.Autocomplete(destination);
  }
  google.maps.event.addDomListenerOnce(window, 'load',initialize);
</script>
