<script src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places" type="text/javascript"></script>

<section id="search" class ="">
  
  <%= form_tag search_path, :method => 'get',class: "form-inline" do %>
 
    <%= text_field_tag :origin, params[:origin], placeholder: 'Origin',class: "mainsearch span4",:autocomplete => "off"%>
    <%= text_field_tag :destination, params[:destination],placeholder: 'Destination',class: "mainsearch span4",:autocomplete => "off"%>
    <%= text_field_tag :date, params[:date], placeholder: 'Dade',id: "ride_date",class: "date-small",class: "mainsearch date-small span2"%>
    <%= submit_tag "Search", :name => nil, class: "btn btn-large btn-primary" %>

  <% end %>
  
</section>


<script type="text/javascript" charset="utf-8">

function initialize() {
  // Add autocomplete to Origin and Destination
  var start = document.getElementById('origin');
  var end = document.getElementById('destination');
  var origin = new google.maps.places.Autocomplete(start);
  var destination = new google.maps.places.Autocomplete(end);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
