<script src="http://maps.googleapis.com/maps/api/js?sensor=true&v=3.4&libraries=places" type="text/javascript"></script>

<section id="searchbar"> 
  <%= form_tag search_path, :method => 'get', id: "main-search",class: "form-inline" do %>
    <%= text_field_tag :origin, params[:origin], placeholder:"From:", id:"ride_origin",class: "mainsearch span4 ride_origin",autocomplete:"off"%>
    <%= text_field_tag :destination, params[:destination],placeholder: 'To:', id:"ride_destination",class: "mainsearch span4 ride_destination",:autocomplete => "off"%>
    <%= text_field_tag :date, params[:date], placeholder: 'Date:',id: "ride_date",class: "mainsearch date-small", :autocomplete => "off"%>
    <%= submit_tag "", :name => nil, class: "" %>
  <% end %>
</section>

<script type="text/javascript" charset="utf-8">
  // Load google maps autocomplete  
  function initialize() {
    var origin = document.getElementById('ride_origin');
    var destination = document.getElementById('ride_destination');
    var autocomplete = new google.maps.places.Autocomplete(origin);
    var autocomplete = new google.maps.places.Autocomplete(destination);
  }
  google.maps.event.addDomListenerOnce(window, 'load',initialize);
</script>