<div class="modal fade" id="signupModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><%= image_tag('/assets/close.png') %></button>
    <h3>Sign up</h3>
  </div>
  <div class="modal-body">
    <div class="row">
    <div class="span2 embos">
      <%= link_to image_tag('fb-logo.png'), "/auth/facebook", class: "sign_in" %>
      <%= link_to 'Signup', "/auth/facebook", class: "btn" %>
    </div>
    <div class="span">
    <%= simple_form_for(:user, :url => users_path, :html => {:class => 'form-inline', :remote => true }) do |f| %>
      <%= f.input :first_name, label: false, placeholder: 'First Name' %>
      <%= f.input :last_name, label: false, placeholder: 'Last Name' %>
      <%= f.input :email, label: false, placeholder: 'Email' %>
      <%= f.input :password, label: false, placeholder: 'Pick a password' %>
      <%= f.input :password_confirmation, label: false, placeholder: 'Confirm Password' %>
    <div class="actions">
      <%= f.submit 'Sign up',  class: "btn btn-primary btn-large" %>
    </div>
    <% end %>
    </div>
    </div>
  </div>
</div>