<div class="modal fade" id="signinModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><%= image_tag('/assets/close.png') %></button>
    <h3>Sign In</h3>
    <p>Not registered yet? <%= link_to('Signup', "#signupModal", :id => 'signup') %></p>
  </div>
  <div class="modal-body">
    <div class="alert" style="color:red;"></div>
      <% if flash[:error].present? %>
      <%= render inline: "<div class='alert alert-error'>#{flash[:error]}</div>" %>
      <% end %>
    <div class="row">
    <div class="span2 embos">
      <%= link_to image_tag('fb-logo.png'), "/auth/facebook", class: "sign_in" %>
      <%= link_to 'Sign in', "/auth/facebook", class: "btn" %>
    </div>
    <div class="span">
  <%= simple_form_for(:session, url: sessions_path, :html => { id:"signin", :remote => true }) do |f| %>
    <%= f.input :email, :label_html => { :class => 'fancy-label' } %>
    <%= f.input :password, :label_html => { :class => 'fancy-label' } %>
    <%= f.submit "Sign in", id: "login",class: "btn btn-large btn-primary" %>
  <% end %>
    </div>
    </div>
  </div>
</div>