<ul id="signedin_user_links" class="nav">
<li class="usrimg">
  <%=image_tag current_user.image, class:"fbimg", alt: current_user.first_name%>
</li>

<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= current_user.first_name %> <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Profile", current_user %></li>
    <li>

    <%= link_to 'Edit Profile', edit_user_path(current_user) %>
    </li>
    <li class="divider"></li>
    <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
  </ul>
</li>
</ul>