<ul id="user_links" class="nav">
<li class="usrimg">
  <% if @usr_img.present? %>
    <%= image_tag current_user.usr_img, class:"fbimg", alt: current_user.first_name %>
  <% else %>
    <%= image_tag ("profile_ico.png"),class:"fbimg" %>
  <% end %>
</li>
<li><%# link_to 'Sign in', signin_path %></li>
<li><%# link_to 'Sign up', signup_path %></li>
<li><%# link_to('Login', "#signinModal", :id => 'login', "data-toggle" => "modal") %></li>
<li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
    <li><%= link_to "Sign in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li> 
</ul>