<nav class="nav pull-right">
    <% if current_user %>
    <li class="divider-vertical"></li>
    <li class="usrimg"><%= image_tag current_user.usr_img, class:"fbimg" %></li>


    <li class="dropdown">
	<a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= current_user.name %> <b class="caret"></b></a>
	<ul class="dropdown-menu">
	    <li><%= link_to "Profile", current_user %></li>
	    <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
	</ul>
    </li><li class="divider-vertical"></li>
      <li><%= link_to "Add Ride",new_ride_path %></li>
    <% else %>
      <li>
        <a id="sign_in" class="sign_in" href="#">Sign in</a>
<!--        <ul class="dropdown-menu">
          <li><%# link_to image_tag('fb-signin.png'), "/auth/facebook",:id =>"sign_in", class: "sign_in" %></li>
        </ul>-->
      </li>
      <li><li><%= link_to "Sign Up",new_user_path %></li></li>
    <ul class="nav">
      <!--<li><%= link_to "Sign In",signup_path, data:{toggle: "modal", target:"#myModal"} %></li>-->
      <li><%= link_to "Add Ride",new_ride_path %></li>
    </ul>
    <% end %>
</nav>


