
<nav class="nav pull-right">
    <% if current_user %>
    <li class="divider-vertical"></li>
    <li class="usrimg"><%= link_to image_tag current_user.img_url, class:"fbimg", alt: current_user.name %></li>
    
    <li class="dropdown">
	<a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= current_user.name %> <b class="caret"></b></a>
	<ul class="dropdown-menu">
	    <li><%= link_to "Profile", current_user %></li>
	    <li><a href="#">action</a></li>
	    <li class="divider"></li>
	    <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
	</ul>
    </li><li class="divider-vertical"></li>
    <% else %>
    
    <ul class="nav">
      <li><%= link_to "modal signin",signup_path, data:{toggle: "modal", target:"#myModal"} %></li>
      <li class="divider-vertical"></li>
      <li class="usrimg"><%= link_to image_tag('user.png'), class:"fbimg" %></li>
      <li><%= link_to "Sign in with facebook", "/auth/facebook", id: "sign_in" %></li>
      <li class="divider-vertical"></li>
      <li><%= link_to "Sign Up", signup_path %></li>
    </ul>
    <% end %>
</nav>



