<nav class="nav pull-right">
    <% if signed_in? %>
    <li class="usrimg">
      <%= if current_user.usr_img.present?
        image_tag current_user.usr_img, class:"fbimg", alt: current_user.first_name
      else
        image_tag ("user_placeholder.png"), class:"fbimg", alt: current_user.first_name
      end%>
    </li>

    <li class="dropdown">
	<a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= current_user.first_name %> <b class="caret"></b></a>
	<ul class="dropdown-menu">
	    <li><%= link_to "Profile", current_user %></li>
	    <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
	</ul>
    </li>
      <li class="focus"><%= link_to "Add New Ride",new_ride_path %></li>
    <% else %>
      <li>
      </li>
      <li class="usrimg">
        <%= if @usr_img.present?
              image_tag current_user.usr_img, class:"fbimg", alt: current_user.first_name
            else
              image_tag ("profile_ico.png"),class:"fbimg"
            end%>
      </li>
      <li><%= link_to 'Sign in', signin_path %></li>
    <ul class="nav">
      <!--<li><%= link_to "Sign In",signup_path, data:{toggle: "modal", target:"#myModal"} %></li>-->
      <li class="focus"><%= link_to "Add New Ride",new_ride_path %></li>
    </ul>
    <% end %>
</nav>


