<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

</head>
<body>
 <!-- Header -->   
<%= render 'layouts/header' %>
<div class="container" id= "content">
    
<!-- Messages --> 
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <button class="close">&times;</button>
    <%= msg %>
  </div>
<% end %>

<%= yield %>

<!-- Signin Modal -->
<%= render 'layouts/signin_modal' %>

<!-- Footer -->
<%= render 'layouts/footer' %>

<!-- Debug -->
<%= debug(params) if Rails.env.development? %>
</div>
    
</body>
</html>
