<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>

<body>
 <!-- Header -->   
<%= render 'layouts/header' %>

<div id="content">

  <!-- Messages -->
<div class="container" id="messages">
    <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <button data-dismiss="alert" class="close" type="button">&times;</button>
      <%= msg %>
    </div>
  <% end %>
</div>
     <div class="row">
    <%= yield %>
    </div> 
  <footer>

    <!-- Signin Modal -->
    <%= render 'layouts/signin_modal' %>
    
    <!-- Footer -->
    <div class="row">
    <%= render 'layouts/footer' %>
    </div>
  </footer>

  <div class="container">
    <div class="row">
      <!-- Debug -->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</div><!-- End content -->
  
</body>
</html>
