<!DOCTYPE html>
<html>
<head>
  <title>Inoride | <%= yield(:title)%></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
	
	

	
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
		<div class="container">
		    <span class="brand"><%= image_tag('inoride_logo.png')%></span>
		    <ul class="nav">
			<li><%= link_to 'Rides', rides_path %></li>
			<li><%= link_to 'Users', users_path %></li>
		    </ul>

		    <ul class="nav pull-right">
			<% if current_user %>
			<li><a href="#"><%= image_tag current_user.img_url, class:"fbimg" %></a></li>
			<li class="divider-vertical"></li>
			<li class="dropdown">
			    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= current_user.name %> <b class="caret"></b></a>
			    <ul class="dropdown-menu">
				<li><a href="#">action</a></li>
				<li><a href="#">action</a></li>
				<li class="divider"></li>
				<li><a href="#"><%= link_to "Sign out", signout_path, id: "sign_out" %></a></li>
			    </ul>
			</li>
	      <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
          </ul>

</div>
		    
		    
            


	    </div>
	</div>
	<div id=content class="container">

<%= yield %>
	</div>
    </div>
</body>
</html>
