<!DOCTYPE html>
<html>
<head>
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
</head>

<body>

<div class="body-bg">
  <div id="modal" class="modal fade"><div class="modal-body"></div></div>

    <%= render 'layouts/header' %>
    
    <%= yield %>
    <%= render 'layouts/footer' %>
    
    
      
  <%= debug(params) if Rails.env.development? %>
  
  <table class="table table-bordered table-striped embos">
    <tr>
      <td>Request url:</td><td><%= request.url %></td>
    </tr>
    <tr>
      <td>Request fullpath:</td><td><%= request.fullpath %></td>
    </tr>
    <tr>
      <td>Request referer: </td><td><%= request.referer %></td>
    </tr>
    <tr>
      <td>Request ip: </td><td><%= request.ip %></td>
    </tr>
    <tr>
      <td>Request xhr?: </td><td><%= request.xhr? %></td>
    </tr>
    <tr>
      <td>Request header info:</td><td><%= request.headers["User-Agent"] %></td>
    </tr>
    <tr>
      <td>Request Parameters</td><td><%= request.parameters %></td>
    </tr>
    <tr>
      <td><strong>Session</strong></td><td><%= session.inspect %></td>
    </tr>
  </table>

</body>
</html>
