<!DOCTYPE html>
<html>
<head>
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
</head>

<body>

<div class="body-bg">
  <div id="modal" class="modal fade"><div class="modal-body"></div></div>

    <%= render 'layouts/header' %>
    
    <%= yield %>
    <%= render 'layouts/footer' %>
    
    
      
  <%= debug(params) if Rails.env.development? %>
    <div class="row-fluid">
    <div class="span embos">
      <h1>Session</h1>
    <%= session.inspect %>
    <hr>
      <h1>Requests</h1>
      <ul>
	<li>Request url: <%= request.url %></li>
	<li>Request fullpath: <%= request.fullpath %></li>
	<li>Request referer: <%= request.referer %></li>
	<li>Request ip: <%= request.ip %></li>
	<li>Request xhr?: <%= request.xhr? %></li>
	<li>Request server software: <%= request.server_software %></li>
	<li>Request header info: <%= request.headers["User-Agent"] %></li>
	<li>Request Parameters</li><%= request.parameters %>
      </ul>
    
    </div>
  </div>
</body>
</html>
