<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Login in</h3>
  
</div>
  <div class="strip">
    <%= link_to image_tag('fb_signin.png'), "/auth/facebook", class: "sign_in" %>
  </div>
<div class="modal-body">
<div id="login-errors"></div>
  <% if flash[:error].present? %>
  <%= render inline: "<div class='alert alert-error'>#{flash[:error]}</div>" %>
  <% end %>
<%= simple_form_for(:session, url: sessions_path, :html => { id:"signin", remote: true }) do |f| %>
  <%= f.input :email, :placeholder => 'Email', :label => false, :label_html => { :class => 'fancy-label' } %>
  <%= f.input :password, :placeholder => 'Password', :label => false, :label_html => { :class => 'fancy-label' } %>
  <%= f.submit "Log in", id: "login",class: "btn btn-large btn-primary" %>
<% end %>
</div>
<div class="modal-footer">
 Not registered yet? <%= link_to('Signup', "#modal", html_options = {id: 'modalsignup'}) %>
</div>